extends new

prepend content
  .container
    .alert.alert-error
      button(type="button", class="close", data-dismiss="alert") &times;
      | There was a problem with adding the contact. Please try again.
