extends index

prepend content
  .container
    .alert.alert-error
      button(type="button", class="close", data-dismiss="alert") &times;
      | There was a problem with retrieving your contacts. Please try again.
