extends ../layout

block content
  .container
    // contact index
    if typeof contacts !== 'undefined'
      ul
        each contact in contacts
          li
            a(href='/contacts/' + contact.id)= contact.firstName + ' ' + contact.lastName
    // end contact index