extends ../layout

block content
  #contact-index-container
    .container
      .row.sub-menu
        ul
          li.span3
            a(href="/contacts")
              span
                strong
                  | 233
                .muted
                  | Friends
          li.span3
            a(href="/contacts")
              span
                strong
                  | 3
                .muted
                  | Recently Added
          li.span3
            a(href="/contacts")
              span
                strong
                  | 14
                .muted
                  | Great Friends
          li.span3
            a(href="/contacts")
              span
                strong
                  | 21
                .muted
                  | Not So Great Friends
      .row.list-head
        h4
          | Friends
      .row.friend-list
        ul
          li.span6
            img(data-src="holder.js/76x76")
            .mid-block-a.pull-right
              .mid-block-a.mid-block-b.mid-block-c
              .mid-block-a.mid-block-b
                .time
                  | 236 days
            .mid-block-a
              .mid-block-a.mid-block-b.mid-block-c
              .mid-block-a.mid-block-b
                .name
                  | Nick Poorman
                .company
                  | Regattable
          li.span6
            img(data-src="holder.js/76x76")
            .mid-block-a.pull-right
              .mid-block-a.mid-block-b.mid-block-c
              .mid-block-a.mid-block-b
                .time
                  | 236 days
            .mid-block-a
              .mid-block-a.mid-block-b.mid-block-c
              .mid-block-a.mid-block-b
                .name
                  | Nick Poorman
                .company
                  | Regattable
          li.span6
            img(data-src="holder.js/76x76")
            .mid-block-a.pull-right
              .mid-block-a.mid-block-b.mid-block-c
              .mid-block-a.mid-block-b
                .time
                  | 236 days
            .mid-block-a
              .mid-block-a.mid-block-b.mid-block-c
              .mid-block-a.mid-block-b
                .name
                  | Nick Poorman
                .company
                  | Regattable
          li.span6
            img(data-src="holder.js/76x76")
            .mid-block-a.pull-right
              .mid-block-a.mid-block-b.mid-block-c
              .mid-block-a.mid-block-b
                .time
                  | 236 days
            .mid-block-a
              .mid-block-a.mid-block-b.mid-block-c
              .mid-block-a.mid-block-b
                .name
                  | Nick Poorman
                .company
                  | Regattable
          li.span6
            img(data-src="holder.js/76x76")
            .mid-block-a.pull-right
              .mid-block-a.mid-block-b.mid-block-c
              .mid-block-a.mid-block-b
                .time
                  | 236 days
            .mid-block-a
              .mid-block-a.mid-block-b.mid-block-c
              .mid-block-a.mid-block-b
                .name
                  | Nick Poorman
                .company
                  | Regattable
          li.span6
            img(data-src="holder.js/76x76")
            .mid-block-a.pull-right
              .mid-block-a.mid-block-b.mid-block-c
              .mid-block-a.mid-block-b
                .time
                  | 236 days
            .mid-block-a
              .mid-block-a.mid-block-b.mid-block-c
              .mid-block-a.mid-block-b
                .name
                  | Nick Poorman
                .company
                  | Regattable
          li.span6
            img(data-src="holder.js/76x76")
            .mid-block-a.pull-right
              .mid-block-a.mid-block-b.mid-block-c
              .mid-block-a.mid-block-b
                .time
                  | 236 days
            .mid-block-a
              .mid-block-a.mid-block-b.mid-block-c
              .mid-block-a.mid-block-b
                .name
                  | Nick Poorman
                .company
                  | Regattable
