extends ../layout
include ../mixins/form-helpers

block content
  .container
    // new contact form
    form.form-horizontal(action="/contacts", method="post")
      mixin field('text', 'firstName', 'First Name')
      mixin field('text', 'lastName', 'Last Name')
      mixin field('text', 'company', 'Company')
      .control-group
        select.control-label(name='selectPhone') 
          option(value="mobile") mobile
          option(value="iPhone") iPhone
          option(value="home") home
          option(value="work") work
          option(value="main") main
          option(value="homeFax") home fax
          option(value="workFax") work fax
          option(value="otherFax") other fax
          option(value="pager") pager
          option(value="other") other
        .controls
          input(type='text', name='phoneValue', placeholder='Phone')
      .control-group
        .controls
          input(type="submit", value="Save", class="btn btn-primary")
    // end new contact form