//navbar
.navbar.navbar-innder.navbar-fixed-top
  .container
    .brand
        | FriendGlu
    ul.nav
      li.active
        a(href="#") Home
      li
        a(href="#") Link
      li
        a(href="#") Link
    include session-nav
//end navbar