//navbar
.navbar.navbar-innder.navbar-fixed-top
  .container
    .row
      .brand
          | FriendGlu
      ul.nav
        li(class=(nav === 'Home' ? 'active' : ''))
          a(href="/") Home
        li(class=(nav === 'Add Friend' ? 'active' : ''))
          a(href="/contacts/new") Add Friend
        li(class=(nav === 'All Friends' ? 'active' : ''))
          a(href="/") All Friends
        li(class=(nav === 'Graphs' ? 'active' : ''))
          a(href="/") Graphs
      include session-nav
//end navbar