//navbar
.navbar.navbar-innder.navbar-fixed-top
  .container
    .brand
        | FriendGlu
    ul.nav
      li.active
        a(href="/") Home
      li
        a(href="/profile") link
      li
        a(href="/connect") link
    include session-nav
//end navbar