//navbar
.navbar.navbar-innder.navbar-fixed-top
  .container
    .row
      .brand
          | FriendGlu
      ul.nav
        li.active
          a(href="/") Home
        li
          a(href="/") Add Friend
        li
          a(href="/") All Friends
        li
          a(href="/") Graphs
      include session-nav
//end navbar