//navbar
.navbar.navbar-innder.navbar-fixed-top
  .container
    .row
      .brand
          | FriendGlu
      ul.nav
        li(class=(nav === 'Home' ? 'active' : ''))
          a(href="/#!watch") Home
        li(class=(nav === 'Add Friend' ? 'active' : ''))
          a(href="/contacts/new#!watch") Add Friend
        li(class=(nav === 'All Friends' ? 'active' : ''))
          a(href="/contacts#!watch") All Friends
        li(class=(nav === 'Graphs' ? 'active' : ''))
          a(href="/#!watch") Graphs
      include session-nav
//end navbar