@aWhite: #f2f4f8;
@bitDarker: rgb(233, 233, 233);
@white-lighter: rgb(252, 252, 252);

.sub-menu {
	ul {
	    list-style: none;
	    padding: 0;
	    margin: 0;
	    display: block;
	    li {
	    	//border: 2px solid @border-color;
	    	&.span3 {
	    		margin-left: 0px;
	    		padding: 7px;
	    		padding-right: 8px;
	    		// border-left: 5px solid whitesmoke;
	    		// border-top: 5px solid whitesmoke;
	    		// border-bottom: 5px solid whitesmoke;
	    		border-right: 4px solid whitesmoke;
	    		border-top: 4px solid whitesmoke;
	    		border-bottom: 4px solid whitesmoke;
	    		&:first-child {
	    			border-left: 4px solid whitesmoke;
	    		}
	    		&:hover {
					background-color: @white-lighter;
				}
	    	}
	    }
	}
	position: relative;
	padding: 0px;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 12px;
	font-weight: 200;
	//line-height: 20px;
	color: inherit;
	//background-color: whitesmoke;
	// -webkit-border-radius: 6px;
	// -moz-border-radius: 6px;
	// border-radius: 6px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	strong {
		display: block;
		//font-size: 14px;
		color: @text-color;
		font-size: 18px;
	}
	a {
		cursor: pointer;
		text-decoration: none;
	}
}

// didn't really feel like doing the calculus for this to max spans
@c1: 960px;
@s1: 460px;
@s2: 23px;
@sp1: (@s1 - @s2);
@s3: (@c1 - (@sp1 * 2));
@s4: floor((@s3 / 3));
@spacing: @s4;

.list-head {
	background-color: whitesmoke;
	line-height: 1.28;
	border-top: 1px solid lightgrey;
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	h4 {
		margin: 16px;
		margin-left: @spacing;
	}
}

.friend-list {
	padding-top: 10px;
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	ul {
	    list-style: none;
	    padding: 0;
	    margin: 0;
	    display: block;
	    margin-left: @spacing;
	    li {
	    	padding-top: 10px;
			padding-bottom: 10px;
	    	&.span6 {
	    		width: @sp1;
	    		margin-left: 0px;
	    		margin-right: @spacing;
	    		border-bottom: 1px solid lightgrey;
	    		img {
	    			float: left;
	    			margin-right: 10px;
	    		}
	    		.mid-block-a {
		    			display: inline-block;
		    		.mid-block-b {
		    			vertical-align: middle;
			    		.name {
			    		}
			    		.company {
			    		}
			    		.time {
			    			//margin-right: 21px;
			    		}
		    		}
		    		.mid-block-c {
		    			height: 75px;
		    		}
	    		}
	    	}
	    }
	}
}