extends reset-password

prepend content
  .container
    .alert.alert-error
      button(type="button", class="close", data-dismiss="alert") &times;
      | There was a problem with resetting your password.
      | Please try again in a few minutes.