extends layout

block content
  .container
    .row
      .span3
        .week
          .row
            .profile-summary
              | This week's queue.
          .row
            ul.stats
              li
                .the-stats
                  strong
                    | 4
                  | LEFT
              li
                .the-stats
                  strong
                    | 2
                  | DONE
        .week
          .row
            .profile-summary
              | Last week's queue.
          .row
            ul.stats
              li
                .the-stats
                  strong
                    | 4
                  | LEFT
              li
                .the-stats
                  strong
                    | 2
                  | DONE
      .span9
        .stream-container
          h3.friend-queue
            | Friend Queue
          .stream
            ol.stream-items
              li.stream-item
                .picture
                  img.img-rounded(data-src="holder.js/70x70")
                .graph
                  img.img-rounded(data-src="holder.js/70x70")
                .row
                  .span3.offset1
                    h4.name
                      | Anthony Campanella
                    .note
                      .control-group
                        .controls
                          input(type="text", placeholder="Place a note...")
                  .span3
                    .contact-info
                      dl.dl-horizontal
                        dt
                          | mobile
                        dd
                          | (313)-313-3131
                        dt
                          | work
                        dd
                          | (313)-313-3131
                        dt
                          | iPhone
                        dd
                          | (313)-313-3131
                  .span1
                    .date.box-round
                      .month
                        | Aug
                      .day
                        strong
                          | 22
