!!! 5
html(lang="en")
  head
    include includes/head
  body(data-grid-framework="bo", data-grid-color="blue", data-grid-opacity="0.5", data-grid-zindex="10", data-grid-nbcols="12")
    include includes/navbar
    block content
    include includes/foot
  include includes/foot-scripts