<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="featurette">
    <div class="featurette-image pull-right img-rounded sprite-anthony-gr"></div>
    <h2 class="featurette-heading">
      Anthony DiMare<br />
      <span class="muted">Founder</span>
    </h2>
    <p class="lead">
      Anthony DiMare is a mechanical engineering student at Syracuse University. A true adrenaline junkie, DiMare is always seeking a thrill in favorite activities such as windsurfing, skiing, and cliff jumping. His long-held love of sailing goes back to his first job, in which he managed and maintained a fleet of sailboats in Massachusetts for 4 years. Having worked in product development for medical equipment, DiMare understands the importance of attention to detail; the basis behind the Regattable design.
    </p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <div class="featurette-image pull-left img-rounded sprite-julian-gr"></div>
    <h2 class="featurette-heading">
      Julian D. Capriles<br />
      <span class="muted">Co-founder</span>
    </h2>
    <p class="lead">
      Julian is a Mechanical Engineering student at Syracuse University. He has been involved with design since he was a child working on Lego and Meccano projects with his father, and has ever since been honing his mechanical and design skills on robots, bicycles and other projects. Solving design problems is what excites Julian the most, and he prides himself with his attention to the little details. On the side Julian competes in the Root66 Mountain Bike Circuit and plays Rugby for the Syracuse Hammerheads.
    </p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <div class="featurette-image pull-right img-rounded sprite-nick-gr"></div>
    <h2 class="featurette-heading">
      Nicholas Poorman<br />
      <span class="muted">Co-founder</span>
    </h2>
    <p class="lead">
      Nick is an avid sailor, entrepreneur, and software developer from Syracuse, NY. He is currently pursuing a bachelor’s degree in computer science at SUNY Oswego. As the cyber warrior of the group, he is responsible for the design of the Regattable website and it's backend customer systems. Nick is a competitive third generation sailor who began as a student and later became a sailing instructor at Henderson Harbor Water Sports Program, located at Henderson Harbor Yacht Club on Lake Ontario. He has sailed in regattas such as the Jr. Olympics, LYRA, the Hospice Charity Cup, and Oswego Yacht Club's Wednesday night summer series.
    </p>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div>
<!-- /.container -->