<div class="container">
<p><strong>Privacy Policy</strong></p>
  
<p>Protecting your private information is our priority. This Statement of Privacy applies to the www.regattable.com and the Regatable team and governs data collection and usage. For the purposes of this Privacy Policy, unless otherwise noted, all references to Regattable include www.regattable.com it's owners. The Regattable website is a News and Information site. By using the Regattable website, you consent to the data practices described in this statement. </p>

  
<p><strong>Collection of your Personal Information</strong></p>

<p>Regattable may collect personally identifiable information, such as your name. We may gather additional personal or non-personal information in the future. </p>
  
<p>Information about your computer hardware and software may be automatically collected by Regattable. This information can include: your IP address, browser type, domain names, access times and referring website addresses. This information is used for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the Regattable website. </p>
  
<p>Regattable encourages you to review the privacy statements of websites you choose to link to from Regattable so that you can understand how those websites collect, use and share your information. Regattable is not responsible for the privacy statements or other content on websites outside of the Regattable website. </p>

  
<p><strong>Use of your Personal Information</strong></p>

<p>Regattable collects and uses your personal information to operate its website(s) and deliver the services you have requested. </p>
  
<p>Regattable may also use your personally identifiable information to inform you of other products or services available from Regattable and its affiliates. Regattable may also contact you via surveys to conduct research about your opinion of current services or of potential new services that may be offered. </p>
  
<p>Regattable does not sell, rent or lease its customer lists to third parties. </p>
  
<p>Regattable may share data with trusted partners to help perform statistical analysis, send you email or postal mail, provide customer support, or arrange for deliveries. All such third parties are prohibited from using your personal information except to provide these services to Regattable, and they are required to maintain the confidentiality of your information. </p>
  
<p>Regattable will disclose your personal information, without notice, only if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on Regattable or the site; (b) protect and defend the rights or property of Regattable; and, (c) act under exigent circumstances to protect the personal safety of users of Regattable, or the public. </p>
  

<p><strong>Security of your Personal Information</strong></p>
  
<p>Regattable secures your personal information from unauthorized access, use or disclosure. </p>
  

<p><strong>Children Under Thirteen</strong></p>

<p>Regattable does not knowingly collect personally identifiable information from children under the age of thirteen. If you are under the age of thirteen, you must ask your parent or guardian for permission to use this website. </p>
  

<p><strong>Opt-Out & Unsubscribe</strong></p>

<p>We respect your privacy and give you an opportunity to opt-out of receiving announcements of certain information. Users may opt-out of receiving any or all communications from Regattable by contacting us here:<br />
- Email: info@regattable.com
</p>
  

<p><strong>Changes to this Statement</strong></p>

<p>Regattable will occasionally update this Statement of Privacy to reflect company and customer feedback. Regattable encourages you to periodically review this Statement to be informed of how Regattable is protecting your information. </p>
  

<p><strong>Contact Information</strong></p>

<p>Regattable welcomes your questions or comments regarding this Statement of Privacy. If you believe that Regattable has not adhered to this statement, please contact Regattable at:</p>

<p>Email Address: <br />
info@regattable.com</p>

<p>Effective as of February 7, 2013</p>
</div>