/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

@text-color: #333333;
@subtext-color: #999;

body {
  /*color: #5a5a5a;*/
}

.sm-border {
  border: 5px solid #5a5a5a;
  background-position: 5px 5px;
}

.box-shadow {  
  -moz-box-shadow: 10px 10px 10px #000; /* Firefox */  
  -webkit-box-shadow: 10px 10px 10px #000; /* Safari, Chrome */  
  box-shadow: 10px 10px 10px #000; /* CSS3 */  
}  

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    &.stats {
        overflow: hidden;
        li {
            display: inline;
        }
        .the-stats {
            float: left;
            padding: 7px 12px;
            color: @subtext-color;
            font-size: 10px;
            line-height: 16px;
            text-transform: uppercase;
        }
        strong {
            display: block;
            font-size: 14px;
            color: @text-color;
        }
    }
}

.week {
    margin-bottom: 10px;
    //margin-top: 10px;
    .profile-summary {
        float: left;
        color: @text-color;
        font-size: 13px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-bottom: 1px solid #e8e8e8;
    }
}