extends ../layout

block content
  .container
    h1
      | The page you requested was not found.
    p
      | You may have clicked an expired link or mistyped the address. Some web addresses are case sensitive.
    ul
      li
        a(href="http://www.regattable.com") Go to the Regattable homepage