extends ../../layout
include ../../mixins/form-helpers

block content
  .container
    h1
      | Find Your Account
    p
      | Enter your email address to reset your password. You may need to check your spam folder or unblock no-reply@friendglu.com.
    // resend activation email
    form(action="/forgot-password", method="post")
      mixin field('text', 'email', 'Email')
      .control-group
        .controls
          input(type="submit", value="Submit", class="btn btn-primary")
    // end resend activation email